<div id="Action_bar" class="hidden-xs hidden-sm hidden-md">
    <div class="container">
        <div class="column one">



            <ul class="social">
                <li class="twitter"><a href="#" class="social-link"><img src="content/imgs/twitter.png" class="social-icon-1" style="width:20px;height:20px"></a></li>
                <li class="twitter"><a href="#" class="social-link"><img src="content/imgs/telegram.png" class="social-icon-1" title="Telegram" alt="Telegram" style="width:20px;height:20px"></a></li>



                <li class="facebook"> <a href="#" class="social-link" style="margin-left:-2px"><img src="content/imgs/facebook.png" class="social-icon-1" title="Facebook" alt="Facebook" style="width:20px;height:20px"></a></li>

                <li class="youtube">  <a href="#" class="social-link"><img src="content/imgs/youtube.png" class="social-icon-1" title="Youtube" alt="Youtube" style="width:20px;height:20px"></a></li>

                <li class="instagram"> <a href="#" class="social-link"><img src="content/imgs/instagram.png" class="social-icon-1" title="Instagram" alt="Instagram" style="width:20px;height:20px"></a></li>

            </ul>
        </div>
    </div>
</div>