<footer id="Footer" class="clearfix">


    <div class="widgets_wrapper bgfooter" style="padding:15px 0 10px 0;">
        <div class="container">
            <!--<div class="column one-third">-->
            <div class="margin-120">
                <div class="col-lg-3     col-sm-3 col-md-3">
                    <aside id="nav_menu-3" class="widget widget_nav_menu">
                        <h4 class="footer-menu-title ">3D-Chain</h4>

                        <div class="menu-main-menu-container">
                            <ul id="menu-main-menu-1" class="menu footer-menu" style="font-size:17px">
                                <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-92 current_page_item menu-item-93"><a href="#!/about" aria-current="page">About Us</a></li>
                                <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="#!/press">Press</a></li>
                                <li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="">Career</a></li>
                                <!--<li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="">Blog</a></li>-->
                                <li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="">Help Center</a></li>
                                <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="">Contact Us</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-4    col-sm-4 col-md-4">
                    <aside id="nav_menu-5" class="widget widget_nav_menu">
                        <h4 class="footer-menu-title">Services</h4><div class="menu-services-container">
                                                                       <ul id="menu-services" class="menu footer-menu" style="font-size:17px">
                                                                           <li id="menu-item-194" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-194"><a href="#!/printers">3DP Technology</a></li>
                                                                           <li id="menu-item-193" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-193"><a href="#!/materials">3DP Material</a></li>
                                                                           <li id="menu-item-192" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-192"><a href="#!/service">3DP Service</a></li>


                                                                           <li id="menu-item-195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-193"><a href="#!/research">Research & Development</a></li>

                                                                           <li id="menu-item-196" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-193"><a href=""> Worldwide 3D Printing</a></li>
                                                                           <li id="menu-item-196" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-193"><a href=""> Blog</a></li>
                                                                       </ul>
                        </div>
                    </aside>
                </div>

                <div class="col-lg-5 col-sm-5 col-md-5 footer-social-container" style="padding-top:35px;text-align:center">
                    <div class="hidden-xs hidden-md hidden-sm">
                        <a href="http://3dchain.net" class="social-link"><img src="content/imgs/3dchain1.png" class="social-icon-1" title="3D Chain" alt="3D Chain" style=""></a>
                        <a href="https://twitter.com/3dchain" target="_blank" class="social-link"><img src="content/imgs/twitter.png" class="social-icon-1"></a>
                        <a href="https://t.me/DecentralizedManufcturing" target="_blank" class="social-link"><img src="content/imgs/Telegram.png" class="social-icon-1" title="Telegram" alt="Telegram"></a>
                        <a href="https://www.facebook.com/3dchain/" target="_blank" class="social-link" style="margin-left:-2px"><img src="content/imgs/facebook.png" class="social-icon-1" title="Facebook" alt="Facebook"></a>
                        <a href="https://www.youtube.com/watch?v=UGqbZHOfWTg" target="_blank" class="social-link"><img src="content/imgs/youtube.png" class="social-icon-1" title="Youtube" alt="Youtube"></a>
                        <a href="https://www.instagram.com/3dchain.io/" target="_blank" class="social-link"><img src="content/imgs/instagram.png" class="social-icon-1" title="Instagram" alt="Instagram"></a>
                    </div>
                    <div class="hidden visible-xs">
                        <a href="http://3dchain.net"  class="social-link"><img src="content/imgs/3dchain.png" class="social-icon-xs" title="3D Chain" alt="3D Chain" style="position:relative;top:0.5px;"></a>
                        <a href="https://twitter.com/3dchain" target="_blank" class="social-link"><img src="content/imgs/twitter.png" class="social-icon-xs"></a>
                        <a href="https://t.me/DecentralizedManufcturing" target="_blank" class="social-link"><img src="content/imgs/Telegram.png" class="social-icon-xs" title="Telegram" alt="Telegram"></a>
                        <a href="https://www.facebook.com/3dchain/" target="_blank" class="social-link" style="margin-left:-2px"><img src="content/imgs/facebook.png" class="social-icon-xs" title="Facebook" alt="Facebook"></a>
                        <a href="https://www.youtube.com/watch?v=UGqbZHOfWTg" target="_blank" class="social-link"><img src="content/imgs/youtube.png" class="social-icon-xs" title="Youtube" alt="Youtube"></a>
                        <a href="https://www.instagram.com/3dchain.io/" target="_blank" class="social-link"><img src="content/imgs/instagram.png" class="social-icon-xs" title="Instagram" alt="Instagram"></a>
                    </div>
                    <div class="hidden visible-sm">
                        <a href="http://3dchain.net" class="social-link"><img src="content/imgs/3dchain.png" class="social-icon-xs" title="3D Chain" alt="3D Chain" style="position:relative;top:0.5px;"></a>
                        <a href="https://twitter.com/3dchain" target="_blank" class="social-link"><img src="content/imgs/twitter.png" class="social-icon-xs"></a>
                        <a href="https://t.me/DecentralizedManufcturing" target="_blank" class="social-link"><img src="content/imgs/Telegram.png" class="social-icon-xs" title="Telegram" alt="Telegram"></a>
                        <a href="https://www.facebook.com/3dchain/" target="_blank" class="social-link" style="margin-left:-2px"><img src="content/imgs/facebook.png" class="social-icon-xs" title="Facebook" alt="Facebook"></a>
                        <a href="https://www.youtube.com/watch?v=UGqbZHOfWTg" target="_blank" class="social-link"><img src="content/imgs/youtube.png" class="social-icon-xs" title="Youtube" alt="Youtube"></a>
                        <a href="https://www.instagram.com/3dchain.io/" target="_blank" class="social-link"><img src="content/imgs/instagram.png" class="social-icon-xs" title="Instagram" alt="Instagram"></a>
                    </div>
                    <div class="hidden visible-md">
                        <a href="http://3dchain.net" class="social-link"><img src="content/imgs/3dchain.png" class="social-icon-md" title="3D Chain" alt="3D Chain" style="position:relative;top:0.5px;"></a>
                        <a href="https://twitter.com/3dchain" class="social-link"><img src="content/imgs/twitter.png" class="social-icon-md"></a>
                        <a href="https://t.me/DecentralizedManufcturing" class="social-link"><img src="content/imgs/Telegram.png" class="social-icon-md" title="Telegram" alt="Telegram"></a>
                        <a href="https://www.facebook.com/3dchain/" class="social-link" style="margin-left:-2px"><img src="content/imgs/facebook.png" class="social-icon-md" title="Facebook" alt="Facebook"></a>
                        <a href="https://www.youtube.com/watch?v=UGqbZHOfWTg" class="social-link"><img src="content/imgs/youtube.png" class="social-icon-md" title="Youtube" alt="Youtube"></a>
                        <a href="https://www.instagram.com/3dchain.io/" class="social-link"><img src="content/imgs/instagram.png" class="social-icon-md" title="Instagram" alt="Instagram"></a>
                    </div>

                </div>
            </div>
           
        </div>

        <!--<div style="background:red; height:200px;">
            <div class="col-lg-3">A</div>
            <div class="col-lg-3">B</div>
            <div class="col-lg-3">C</div>
            <div class="col-lg-3">D</div>


        </div>-->
    </div>

    <div class="footer_copy bgfooter" style="border-top:1px solid rgba(255,255,255,0.5)">
        <div class="container">
            <div class="column one" style="text-align:center">

               <!-- <a id="back_to_top" class="button button_js" href=""><i class="icon-up-open-big" style="color:white !important"></i></a>-->
                <a id="back_to_top" ng-click="back_bottom()" class="button button_js" href=""><i class="icon-up-open-big" style="color:white !important"></i></a>
                <!-- Copyrights -->
                <div class="copyright" style="float:none;">
                    <div style="font-size:15px !important;opacity:1"> <a href="#!/privacy" style="color:black">Privacy policy</a> | <a href="#!/useragreement" style="color:black">User agreement</a></div>
                    <div style="margin-top:2px;color:black;font-size:15px">
                        Copyright (c) 2020, 3D-Chain Limited.
                    </div>
                </div>


            </div>
        </div>
    </div>



</footer>