   <!-- #Header_bg -->
<div id="Header_wrapper">

    <!-- #Header -->
    <header id="Header">
        <div ng-include="'app/views/actionbar.html'"  ></div>


        <!-- .header_placeholder 4sticky  -->
        <div class="header_placeholder"></div>

        <div id="Top_bar" class="loading bgcolor-1">

            <div class="container hidden-xs hidden-sm hidden-md">
                <div class="col-lg-12 insticky" style="display:none">
                    <table style="width:100%;">
                        <tr>
                            <td style="padding:0;width:210px">
                                <a href="index.html" style="display:inline-block; padding:0 25px 0 0px;text-decoration:none !important" class="ep-logo">
                                    <img src="content/imgs/logo.png" style="height:65px !important" />
                                    <span class="color-p logo-title" style="font-size:1.5rem !important;margin-left:12px;top:-32px;">3D-Chain</span>
                                </a>
                            </td>
                            <td></td>
                            <td style="padding:0;width:210px">
                                <div style="display:inline-block;margin-top:0px;" class="dropdown">

                                    <a href="index.html" class="action_button" target="_blank" style="padding-left:0; line-height:90px;background: transparent;border:none;color:#161922 !important;padding-right:5px;">
                                        <i class="icon-menu color-p" style="font-size:40px !important;float:left"></i>
                                        <span style="position:relative;left:-5px;font-size:1.1rem">3D-Chain Network</span>
                                    </a>
                                    <div class="dropdown-content" style="top:90px">
                                        <a href="#">
                                            3DP Service
                                        </a>
                                        <a href="#">3DP Technology </a>
                                        <a href="#">
                                            Laser Cutting
                                        </a>
                                        <a href="#">Design</a>
                                        <a href="#">Marketplace</a>

                                        <a href="#">
                                            R & D
                                        </a>
                                    </div>

                                </div>

                            </td>

                            <td style="padding:0;width:160px">

                                <a href="signin.html" class="action_button" target="_self" style="position:relative;top:-3px;padding-left:0; line-height:90px;background: transparent;border:none;color:#161922 !important;padding-right:5px;">
                                    <i class="icon ion-md-log-in color-p" style="font-size:34px !important;float:left;position:relative;top:0px"></i>

                                    <span style="position:relative;left:6px;font-size:1.1rem">Sign In</span>
                                </a>
                            </td>

                        </tr>

                    </table>
                </div>
                <div class="col-lg-12 notsticky">
                    <div class="col-lg-4 col-md-4" style="text-align:center;">
                        <div>
                            <a href="index.html" style="display:inline-block; padding:0 25px 0 25px;text-decoration:none !important" class="ep-logo">
                                <img src="content/imgs/logo.png" />
                                <span class="color-p logo-title">3D-Chain</span>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4" style="padding-top:0px;padding-left:70px">




                    </div>

                    <div class="col-lg-5 col-md-4" style="text-align:right;">
                        <div style="display:inline-block;margin-top:45px;" class="dropdown">
                            <a href="javascript:void(0);" class="_menulink icon nounderline " onclick="myFunction()">
                                <i class="icon-menu color-p" style="font-size:40px !important"></i>
                                <span style="position:relative;top:-7px;left:-10px; color:#161922 !important;font-size:1.3rem">
                                    3D-Chain Network
                                </span>
                            </a>
                            <div class="dropdown-content">
                                <a href="#">
                                    3DP Service
                                </a>
                                <a href="#">3DP Technology </a>
                                <a href="#">
                                    Laser Cutting
                                </a>
                                <a href="#">Design</a>
                                <a href="#">Marketplace</a>

                                <a href="#">
                                    R & D
                                </a>
                            </div>

                        </div>

                        <div style="display:inline-block;margin-top:45px;margin-left:20px" class="dropdown">
                            <a href="signin.html" class="_menulink icon nounderline " target="_self">
                                <!--<i class="icon-menu color-p" style="font-size:40px !important"></i>-->
                                <i class="icon ion-md-log-in color-p" style="font-size:36px !important"></i>
                                <span style="position:relative;top:-7px;left: 5px; color:#161922 !important;font-size:1.3rem">
                                    Sign In
                                </span>
                            </a>


                        </div>
                        <!--   <div class="top_bar_right"><div class="top_bar_right_wrapper"><a id="search_button" href="#"><i class="icon-search-fine"></i></a><a href="#" class="action_button" target="_blank">Login / Register</a></div></div>-->
                    </div>
                </div>
            </div>


            <!--mobile-->
            <div class="container hidden-lg   ">
                <div class="container hidden-lg bgcolor-1">


                    <div class="top_bar_left1 clearfix" style="height:90px">

                        <!-- Logo -->
                        <div class="logo">
                            <a id="logo" href="index.html" title="3d chain" data-height="60" data-padding="15">
                                <!--<img class="logo-main scale-with-grid" src="http://commigrant.com/wp-content/uploads/2019/02/Logo.png" data-retina="http://commigrant.com/wp-content/uploads/2019/02/Retina-Logo.png" data-height="30" alt="Logo" />-->
                                <!--<img class="logo-sticky scale-with-grid" src="http://commigrant.com/wp-content/uploads/2019/02/Logo.png" data-retina="http://commigrant.com/wp-content/uploads/2019/02/Retina-Logo.png" data-height="30" alt="Logo" />-->
                                <img style="height:40px;max-height:40px !important" src="content/imgs/logo.png"
                                     data-retina="content/imgs/logo.png" data-height="30" alt="Logo" />
                                <!-- <img class="logo-mobile-sticky scale-with-grid" src="http://commigrant.com/wp-content/uploads/2019/02/Logo.png" data-retina="http://commigrant.com/wp-content/uploads/2019/02/Retina-Logo.png" data-height="30" alt="Logo" />-->
                                <span class="color-p logo-title" style="top:0;margin-left:7px;font-size:1rem !important">3D-Chain</span>
                            </a>
                        </div>
                        <div class="menu_wrapper">
                            <nav id="menu">
                                <ul id="menu-main-menu" class="menu menu-main">
                                    <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-92 current_page_item"><a href="#"><span>Home</span></a></li>
                                    <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>3DP Service</span></a></li>
                                    <li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>3DP Technology</span></a></li>
                                    <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Laser Cutting</span></a></li>
                                    <li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Design</span></a></li>
                                    <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Marketplace</span></a></li>

                                    <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>R & D</span></a></li>
                                </ul>
                            </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine  color-p"></i></a>
                        </div>

                        <div class="secondary_menu_wrapper">
                            <!-- #secondary-menu -->
                        </div>

                        <div class="banner_wrapper">
                        </div>



                    </div>



                </div>



            </div>

            <div class="mfn-main-slider" id="mfn-rev-slider">
                <link href="http://fonts.googleapis.com/css?family=Roboto:300%2C100%2C500" rel="stylesheet" property="stylesheet" type="text/css" media="all">

            </div>
        </div>
    </header>

</div>