<div class="home">
    <div ng-include="'app/views/header-main.html'" ng-init="type = 'main';"></div>
    <div id="Content" style="margin-top:45px;">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">

                    <div class="section mcb-section  " style=" padding-top:0px; padding-bottom:0px;background-color:rgba(0,0,0,1) !important; ">

                        <div style="position:relative">
                            <div class=" hidden-xs  hidden-sm index-header1" style="position:relative; margin:0 auto 0 auto;width:940px;height:820px;background-color:rgba(0,0,0,1) !important;background-repeat: no-repeat;background-size: 95%;background-position:top;">
                                <div style="text-align:center;position:relative">
                                    <img src="content/imgs/ih3.png" />
                                </div>
                                <div style="color:white;font-size:24px;position:absolute;top:0;left:0;width:100%;text-align:center;padding-top:80px">
                                    <div style="text-align:center;font-size:42px;font-weight:bold;margin-bottom:18px">
                                        3D-Chain
                                    </div>
                                    <div style="margin-bottom:10px">
                                        First Global Decentralized Network Directly Connecting
                                    </div>
                                    <div>
                                        <span style="color:rgba(91,155,213,1);font-weight:bold">Manufacturers</span>,<span style="color:rgba(91,155,213,1);font-weight:bold">Designers</span>  and <span style="color:rgba(91,155,213,1);font-weight:bold">Consumers</span>

                                    </div>
                                </div>

                                <a href="#" style="position:absolute;top:55px;left:24px;" class="index-header-link">
                                    <div style="display:inline-block; width:135px;height:173px;position:relative">
                                        <div class="title" style="font-size:22px;padding-top:8px;display:inline-block;position:absolute;top:357px;left:3px;background:rgba(112,48,160,1);width:136px;height:68px;width:100%;color:white;text-align:center">
                                            3D Printing Service

                                        </div>
                                    </div>
                                </a>
                                <a href="#" style="position:absolute;top:206px;left:166px;">
                                    <div style="display:inline-block; width:135px;height:173px;position:relative">
                                        <div style="font-size:22px;padding-top:8px;display:inline-block;position:absolute;top:360px;left:4px;background:rgba(112,48,160,1);width:136px;height:68px;width:100%;color:white;text-align:center">
                                            3D Printing Technology

                                        </div>
                                    </div>
                                </a>

                                <a href="#" style="position:absolute;top:346px;left:313px;">
                                    <div style="display:inline-block; width:135px;height:173px;position:relative">
                                        <div style="font-size:22px;padding-top:8px;padding-right:15px;padding-left:15px; display:inline-block;position:absolute;top:355px;left:1px;background:rgba(112,48,160,1);width:136px;height:68px;width:100%;color:white;text-align:center">
                                            Laser Cutting


                                        </div>
                                    </div>
                                </a>

                                <a href="#" style="position:absolute;top:346px;left:493px;">
                                    <div style="display:inline-block; width:135px;height:173px;position:relative">
                                        <div style="font-size:22px;padding-top:8px;padding-right:15px;padding-left:15px; display:inline-block;position:absolute;top:355px;left:0px;background:rgba(112,48,160,1);width:136px;height:68px;width:100%;color:white;text-align:center">
                                            Research Network

                                        </div>
                                    </div>
                                </a>

                                <a href="#" style="position:absolute;top:206px;left:638px;">
                                    <div style="display:inline-block; width:135px;height:173px;position:relative">
                                        <div style="font-size:22px;padding-top:8px;padding-right:15px;padding-left:15px; display:inline-block;position:absolute;top:350px;left:-1px;background:rgba(112,48,160,1);width:136px;height:68px;width:100%;color:white;text-align:center">
                                            Design Network


                                        </div>
                                    </div>
                                </a>
                                <a href="#" style="position:absolute;top:55px;left:781px;">
                                    <div style="display:inline-block; width:135px;height:173px;position:relative">
                                        <div style="font-size:22px;padding-top:8px;padding-right:15px;padding-left:15px;display:inline-block;position:absolute;top:358px;left:-3px;background:rgba(0,112,192,1);width:136px;height:68px;width:100%;color:white;text-align:center">
                                            Open Your Store


                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="hidden-lg hidden-md hidden-xs" style="position:relative; margin:0 auto 0 auto;height:450px;background-color:rgba(0,0,0,1) !important;background-repeat: no-repeat;background-size: 95%;background-position:top;">
                                <div style="text-align:center;position:relative">
                                    <div style="color:white;font-size:24px;position:absolute;top:0;left:0;width:100%;text-align:center;padding-top:25px">
                                        <div style="text-align:center;font-size:36px;font-weight:bold;margin-bottom:18px">
                                            3D-Chain
                                        </div>
                                        <div style="margin-bottom:10px">
                                            First Global Decentralized Network Directly Connecting
                                        </div>
                                        <div>
                                            <span style="color:rgba(91,155,213,1);font-weight:bold">Manufacturers</span>,<span style="color:rgba(91,155,213,1);font-weight:bold">Designers</span>  and <span style="color:rgba(91,155,213,1);font-weight:bold">Consumers</span>

                                        </div>
                                    </div>

                                    <img src="content/imgs/bk2.png" style="margin:10px auto 0 auto;width:100%;opacity:0.3" />
                                    <img src="../../content/imgs/logo.png" style="position:relative;width:50px;top:-260px" />
                                    <!--<div style="color:white;width:300px;margin:0 auto 0 auto">vahid</div>-->
                                </div>
                            </div>
                            <div class="hidden-lg hidden-md hidden-sm" style="position:relative; margin:0 auto 0 auto; background-color:rgba(0,0,0,1) !important;background-repeat: no-repeat;background-size: 95%;background-position:top;">
                                <div style="text-align:center;position:relative">
                                    <div style="color:white;font-size:18px;position:absolute;top:0;left:0;width:100%;text-align:center;padding-top:25px">
                                        <div style="text-align:center;font-size:36px;font-weight:bold;margin-bottom:18px">
                                            3D-Chain
                                        </div>
                                        <img src="../../content/imgs/logo.png" style="position:relative;width:50px;" />
                                        <div style="margin-bottom:10px">
                                            First Global Decentralized Network Directly Connecting
                                        </div>
                                        <div>
                                            <span style="color:rgba(91,155,213,1);font-weight:bold">Manufacturers</span>,<span style="color:rgba(91,155,213,1);font-weight:bold">Designers</span>  and <span style="color:rgba(91,155,213,1);font-weight:bold">Consumers</span>

                                        </div>
                                    </div>

                                    <img src="content/imgs/bk2.png" style="margin:40px auto 0 auto;width:100%;opacity:0.3" />
                                    <div style="margin:0 auto 0 auto;width:160px; ">
                                        <a href="#">
                                            <img src="content/imgs/_x1.png" style="" />
                                            <div class="title" style="font-size:18px;padding:8px 0 8px 0;display:inline-block; background:rgba(112,48,160,1); width:100%;color:white;text-align:center">
                                                3D Printing Service

                                            </div>
                                        </a>
                                    </div>

                                    <div style="margin:15px auto 0 auto;width:160px; ">
                                        <a href="#">
                                            <img src="content/imgs/_x2.png" style="" />
                                            <div class="title" style="font-size:18px;padding:8px 0 8px 0;display:inline-block; background:rgba(112,48,160,1); width:100%;color:white;text-align:center">
                                                3D Printing Technology

                                            </div>
                                        </a>
                                    </div>
                                    <div style="margin:15px auto 0 auto;width:160px; ">
                                        <a href="#">
                                            <img src="content/imgs/_x3.png" style="" />
                                            <div class="title" style="font-size:18px;padding:8px 0 8px 0;display:inline-block; background:rgba(112,48,160,1); width:100%;color:white;text-align:center">
                                                Laser Cutting

                                            </div>
                                        </a>
                                    </div>
                                    <div style="margin:15px auto 0 auto;width:160px; ">
                                        <a href="#">
                                            <img src="content/imgs/_x4.png" style="" />
                                            <div class="title" style="font-size:18px;padding:8px 0 8px 0;display:inline-block; background:rgba(112,48,160,1); width:100%;color:white;text-align:center">
                                                Research Network

                                            </div>
                                        </a>
                                    </div>
                                    <div style="margin:15px auto 0 auto;width:160px; ">
                                        <a href="#">
                                            <img src="content/imgs/_x5.png" style="" />
                                            <div class="title" style="font-size:18px;padding:8px 0 8px 0;display:inline-block; background:rgba(112,48,160,1); width:100%;color:white;text-align:center">
                                                Design Network

                                            </div>
                                        </a>
                                    </div>
                                    <div style="margin:15px auto 0 auto;width:160px; ">
                                        <a href="#">
                                            <img src="content/imgs/_x6.png" style="" />
                                            <div class="title" style="font-size:18px;padding:8px 0 8px 0;display:inline-block; background:rgba(0,112,192,1); width:100%;color:white;text-align:center">
                                                Open Your Store

                                            </div>
                                        </a>
                                    </div>
                                    <div style="margin:15px auto 0 auto;width:160px;height:10px "></div>
                                    <!--<div style="color:white;width:300px;margin:0 auto 0 auto">vahid</div>-->
                                </div>
                            </div>


                        </div>


                    </div>

                    <div class="section mcb-section " style="padding-top:10px; padding-bottom:30px; background-color:white !important">
                        <div class="section_wrapper mcb-section-inner ">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner">
                                    <div style="text-align:center;  " class="ep-hint2">
                                        <img style="display:inline-block;position:relative;top:14px;left:-1px;width:40px" src="content/imgs/arrow-circle.png" />  <span style="font-weight:bold">Read</span> about <a href="about.html">3D-Chain</a>’s mission and Objectives

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section mcb-section  " style="padding-top:0px; padding-bottom:0px; background-color:rgba(0,112,192,1) !important;border-top:2px solid rgba(60,56,55,1);border-bottom:2px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner ep-row">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner">
                                    <div style="text-align:center; color:white; " class="ep-hint2">

                                        “ Decentralized Manufacturing: Global Decentralized Network Directly Connecting Manufacturers, Designers, and Consumers “

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section mcb-section " style="padding-top:20px; padding-bottom:0px; background-color:white !important">
                        <div class="section_wrapper mcb-section-inner ">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner">
                                    <div style="text-align:left;  padding-bottom:20px" class="ep-hint-18 col-lg-3 col-md-3 col-sm-6">

                                        <span style="display:inline-block;font-weight:bold" class="color-p">
                                            GLOBAL MARKET
                                        </span>
                                        <div style="line-height:26px">
                                            Access to global market faster and cheaper, using different fabrication technologies.

                                        </div>

                                    </div>
                                    <div style="text-align:left;padding-bottom:20px  " class="ep-hint-18 col-lg-3 col-md-3 col-sm-6">

                                        <span style="display:inline-block;font-weight:bold" class="color-p">
                                            DISTRIBUTED
                                        </span>
                                        <div style="line-height:26px">
                                            Share a 3D Printer on 3D-chain platform to generate revenue during ideal time of the device.

                                        </div>

                                    </div>
                                    <div style="text-align:left; padding-bottom:20px " class="ep-hint-18 col-lg-3 col-md-3 col-sm-6">

                                        <span style="display:inline-block;font-weight:bold" class="color-p">
                                            DIRECT COMMUNICATION

                                        </span>
                                        <div style="line-height:26px">
                                            Direct communication between Customers, Designers and Manufacturers.

                                        </div>

                                    </div>
                                    <div style="text-align:left; padding-bottom:20px " class="ep-hint-18 col-lg-3 col-md-3 col-sm-6">

                                        <span style="display:inline-block;font-weight:bold" class="color-p">
                                            PERSONALIZATION
                                        </span>
                                        <div style="line-height:26px">
                                            Personalized items, share them and get credit every time they are used.

                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>



                    <div ng-include="'app/views/subscribe.html'"></div>


                    <div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                    <div class="section section-page-footer">
                        <div class="section_wrapper clearfix">

                            <div class="column one page-pager">
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <div ng-include="'app/views/footer.html'"></div>
</div>
