<style>
  
    @media (min-width: 1200px) {
        .col-lg-3 {
            width: 22%;
        }
        .col-lg-9 {
            width: 78%;
        }
       
    }
</style>
<div class="research bg-gray">
    <div ng-include="'app/views/header.html'" ng-init="type = 'research';"></div>
    <div id="Content" style="margin-top:69px;">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">


                    <div class="section mcb-section  margin-bottom-20" style="margin-top:0;margin-bottom:0;padding-top:0px; padding-bottom:0px; background-color:rgba(112,48,160,1) !important;border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner ep-row2  no-box-shadow"  >
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner">
                                    <div style="text-align:center; color:white; " class="ep-hint">


                                        <div style="text-align:center;font-family:'Arial Narrow'!important; font-size:24px !important">
                                            <div style=" font-weight:bold;  " class="page-header-title ">
                                                Research and Development

                                            </div>
                                            <div style=" font-weight:normal;margin-top:7px " class="page-header-comment">
                                                Join Researchers, Professionals and Start-up companies in
                                            </div>
                                            <div style=" font-weight:normal;margin-top:7px " class="page-header-comment">
                                                discovering and developing breakthrough 3D Printing technologies
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section mcb-section  bg-gray margin-bottom-20" style="padding-top:0px; padding-bottom:0px;  border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner  no-box-shadow">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner b-shadow bgcolor-gray margin-120" >
                                    <div style="text-align:left; color:black; font-size:18px">
                                        <div class="col-lg-3 col-sm-3 col-md-3 ep-row3 ep-row-image-wrapper" style="text-align:left;padding:0;">
                                            <img src="../../content/imgs/signup1.png" style="height:180px;position:relative;top:1px" />
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9" style="display:table">
                                            <p class="ep-row-comment" >
                                                <span style="font-weight:bold">Research professionals</span> play a pivotal role in discovering and developing breakthrough 3D printing technologies. Research team members are committed to advancing product innovation at every turn. They apply emerging 3D printing technologies and material science to rapidly move our solutions toward the future of Additive Manufacturing. 3D-Chain provides a platform for collaboration within leading innovators in the fields.

                                            </p>
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section mcb-section bg-gray margin-bottom-20" style="padding-top:0px; padding-bottom:0px;  border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner no-box-shadow">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner b-shadow bg-white margin-120" style="padding:10px">
                                    <div style="text-align:center; color:black; font-size:14px; ">
                                       
                                        <a href="" data-ng-click="navigate2('/researchers','researchers',1)" style="background:rgba(0,112,192,1);color:white;font-weight:bold; padding:10px 125px;display:inline-block" class="hidden-xs">
                                            CHECK OUT NETWORK OF RESEARCHERS
                                        </a>
                                        <a href="" data-ng-click="navigate2('/researchers','researchers',1)" style="background:rgba(0,112,192,1);color:white;font-weight:bold; padding:10px 44px;display:inline-block;font-size:13px" class="hidden-lg hidden-sm hidden-md">
                                            CHECK OUT NETWORK OF RESEARCHERS
                                        </a>
                                        <div style="clear:both"></div>

                                        <table class="table-header" style="margin:10px auto 0 auto;width:auto;display:inline-block;vertical-align:initial">
                                            <tr>
                                                <td style="width:48px;text-align:left" class="hidden-xs">
                                                    <img src="../../content/imgs/arrow1.png" class="img-arrow" />
                                                </td>
                                                <td style="vertical-align:middle">
                                                    <a href="" data-ng-click="navigate('/signup/development','signup-development',1)" class="bgcolor-p hidden-xs" style="color:white;font-weight:bold; padding:10px 72px 10px 72px;font-size:15px;">
                                                        Join Network of Researchers and 3D Printing Professionals

                                                    </a>
                                                    <a href="" data-ng-click="navigate('/signup/development','signup-development',1)" class="bgcolor-p hidden-lg hidden-sm hidden-md" style="color:white;font-weight:bold; padding:10px 5px 10px 5px;font-size:13px;display:inline-block">
                                                        Join Network of Researchers and 3D Printing Professionals

                                                    </a>
                                                </td>
                                                <td style="width:48px;text-align:right" class="hidden-xs">
                                                    <img src="../../content/imgs/arrow2.png" class="img-arrow" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section mcb-section  bg-gray margin-bottom-20" style="padding-top:0px; padding-bottom:0px;  border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner no-box-shadow">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner b-shadow bgcolor-gray margin-120" >
                                    <div style="text-align:left; color:black; font-size:18px">
                                        <div class="col-lg-9 col-md-9  col-sm-9" style="display:table">
                                            <p  class="ep-row-comment"  >
                                                <span class="color-p" style="font-weight:bold;font-size:20px">3D-Chain</span>’s Development network support dynamic growth along technical or managerial pathways.
                                                <span style="font-weight:bold;font-size:20px">Start-up</span> businesses have the opportunities to introduce their specific technologies to potential investors and researchers and expand their impact. Growth and advancement are supported within each business with both structured and informal development programs.


                                            </p>
                                        </div>
                                        <div class="col-lg-3 col-md-3  col-sm-3 ep-row-image-wrapper" style="text-align:right;padding:0">
                                            <img src="../../content/imgs/signup2.png" style="height:180px;position:relative;top:1px;left:1px" />
                                        </div>
                                        <div style="clear:both"></div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section mcb-section  bg-gray margin-bottom-20" style="padding-top:0px; padding-bottom:0px;  border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner no-box-shadow">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner  b-shadow bg-white margin-120" style="padding:10px">
                                    <div style="text-align:center; color:black; font-size:14px;">

                                        <a href="#" class="hidden-xs" style="display:inline-block;background:white;color:rgba(0,112,192,1);font-weight:bold; padding:10px 125px;border:2px solid rgba(0,112,192,1);">
                                            CHECK OUT NETWORK OF START-UP BUSINESSES

                                        </a>
                                        <a href="#" style="display:inline-block;background:white;color:rgba(0,112,192,1);font-weight:bold; padding:10px 20px;border:2px solid rgba(0,112,192,1);font-size:13px" class="hidden-lg hidden-sm hidden-md">
                                            CHECK OUT NETWORK OF START-UP BUSINESSES
                                        </a>
                                        <div style="clear:both"></div>

                                        <table class="table-header" style="margin:10px auto 0 auto;width:auto;display:inline-block;">
                                            <tr>
                                                <td style="width:130px;text-align:left" class="hidden-xs hidden-sm">
                                                    <img src="../../content/imgs/arrow3.png" class="img-arrow" style="height:28px !important" />
                                                </td>
                                                <td style="vertical-align:middle">
                                                    <a href="#" class="hidden-xs hidden-sm" style="background:white;color:rgba(112,48,160,1);font-weight:bold; padding:10px 160px;font-size:15px;border:2px solid rgba(112,48,160,1);">
                                                        Join Network of Start-Up Businesses


                                                    </a>
                                                    <a href="#" class="hidden-lg hidden-xs hidden-md" style="display:inline-block;background:white;color:rgba(112,48,160,1);font-weight:bold; padding:10px 161px;font-size:15px;border:2px solid rgba(112,48,160,1);">
                                                        Join Network of Start-Up Businesses


                                                    </a>
                                                    <a href="#" class="hidden-lg hidden-sm hidden-md" style="display:inline-block;background:white;color:rgba(112,48,160,1);font-weight:bold; padding:10px 59px;font-size:13px;border:2px solid rgba(112,48,160,1);">
                                                        Join Network of Start-Up Businesses


                                                    </a>
                                                </td>
                                                <td style="width:130px;text-align:right" class="hidden-xs hidden-sm">
                                                    <img src="../../content/imgs/arrow4.png" class="img-arrow" style="height:28px !important" />
                                                </td>
                                            </tr>
                                        </table>

                                        <!--<a href="#" style="background:white;color:rgba(112,48,160,1);font-weight:bold; padding:20px 19px 20px 19px;font-size:15px;border:2px solid rgba(112,48,160,1);">
        Join Network of Researchers and 3D Printing Professionals

    </a>-->

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section mcb-section  bg-gray margin-bottom-20" style="padding-top:0px; padding-bottom:0px; border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner no-box-shadow">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner  b-shadow bgcolor-gray margin-120" >
                                    <div style="text-align:left; color:black; font-size:18px">
                                        <div class="col-lg-3 col-md-3 ep-row3  col-sm-3 ep-row-image-wrapper" style="text-align:left;padding:0">
                                            <img src="../../content/imgs/signup3.png" style="height:180px;position:relative;top:1px" />
                                        </div>
                                        <div class="col-lg-9 col-md-9  col-sm-9" style="display:table">
                                            <p class="ep-row-comment" >

                                                Many <span style="font-weight:bold;font-size:20px">Research professionals</span> participate on cross-functional teams in discovery and product development. They explore methods to commercialize effective 3D Printing technologies, devices or materials. <span class="color-p" style="font-weight:bold;font-size:20px">3D-Chain</span>’s R&D network provides the connection between <span style="font-weight:bold;font-size:20px">start-up</span> businesses and research platforms which leads to advancing opportunities.
                                            </p>
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section mcb-section bg-gray margin-bottom-20" style="padding-top:0px; padding-bottom:0px;  border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner  no-box-shadow">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner b-shadow bg-white margin-120" >
                                    <div style="text-align:center; color:black; font-size:18px;padding:20px 0 20px 0; ">

                                        <img src="../../content/imgs/research.png" class="img-research hidden-xs hidden-sm hidden-md" />
                                        <img src="../../content/imgs/research.png" class="hidden-lg"  style=""/>
                                    </div>
                                    


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                    <div class="section section-page-footer">
                        <div class="section_wrapper clearfix">

                            <div class="column one page-pager">
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/views/footer.html'"></div>
</div>
