<div class="signin">
    <div ng-include="'app/views/header.html'" ng-init="type = 'signin';"></div>
    <div id="Content" style="margin-top:45px;">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">


                    <div class="section mcb-section  " style="padding-top:0px; padding-bottom:0px; background-color:rgba(0,112,192,1) !important;border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner ep-row2"  >
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner">
                                    <div style="text-align:center; color:white; " class="ep-hint">

                                        <!--“ Decentralized Manufacturing: Global Decentralized Network Directly Connecting Manufacturers, Designers, and Consumers “-->
                                        <div style="text-align:center;font-family:'Arial Narrow'!important;  ">
                                            <div style=" font-weight:bold" class="page-header-title ">3D-Chain</div>
                                            <div style="margin-top:8px" class="page-header-comment"><span  >First Global </span><span style="font-weight:bold; ">Decentralized Network</span></div>
                                            <div style="margin-top:8px" class="page-header-comment"><span style="font-weight:bold;font-size:inherit !important">Directly</span><span style=" margin-left:3px; display:inline-block">Connecting</span> </div>
                                            <div style="margin-top:8px" class="page-header-comment">
                                                <span style="font-weight:bold;font-size:inherit !important">Manufacturers</span>,
                                                <span style="font-weight:bold;font-size:inherit !important">Designers</span>, <span  >and</span> <span style="font-weight:bold;font-size:inherit !important">Consumers</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="section mcb-section ep-section" style="padding-top:20px; padding-bottom:30px; background-color:white !important">
                         
                             
                                 
                                    <div class="col-lg-6 col-sm-6 col-md-6 hidden-xs ilogo" style="height:456px">
                                        <div style="display:inline-block;color:rgba(208,208,208,1); font-size:62px;font-weight:bold;margin:399px 0 0 300px">3D-Chain</div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6" style="padding:0">
                                        <h2 class="title color-gray xs-font-24 hidden-xs" style="font-size:30px; margin-bottom:10px;  font-weight:bold">LOG IN</h2>
                                        <div class="signin-box2" style="background:rgba(230,230,230,1);padding:40px">
                                            <h2 class="title color-gray xs-font-24 hidden-lg hidden-md hidden-sm" style="font-size:30px; margin-bottom:10px;  font-weight:bold">LOG IN</h2>
                                            <div style="max-width:550px;">
                                                <!--banis-->
                                                <div style="max-width:400px;">
                                                    <input placeholder="Email" class="input" style="width:100%;" data-ng-model="loginData.userName" required autofocus />
                                                    <div style="margin-bottom:5px"></div>
                                                    <input placeholder="Password" class="input" style="margin-top:5px;width:100%;margin-bottom:7px" type="password" data-ng-model="loginData.password" required />
                                                    <div></div>
                                                    <div style="width:100%;text-align:right;display:inline-block;padding-right:10px;margin-bottom:10px">
                                                        <a class="simple" href="#">Forgot your password?</a>
                                                    </div>
                                                    <div style="margin-bottom:10px"></div>
                                                    <div>
                                                        <a class="button violet bgcolor-p color-white f14 bold letterspace" style="width:100%;margin-left:0px;text-align:center;margin-bottom:7px" data-ng-click="login()">SIGN IN</a>

                                                    </div>
                                                    <div style="width:100%;text-align:right;display:inline-block;padding-right:10px;margin-bottom:10px">
                                                        <div style="margin-bottom:10px" dx-check-box="{text:'Remember Me'}"></div>
                                                    </div>
                                                </div>



                                                <div class="xs-center" style="text-align:left;display:inline-block;width:100%">
                                                    <span class="color-gray f19">
                                                        Don't have an account? Create one
                                                    </span>

                                                    <div class="xs-center xs-margin-bottom-20" style="padding-left:10px; display:inline-block; margin-top:10px;margin-bottom:10px">
                                                        <a class="simple f16" href="#">
                                                            <i class="icon ion-md-log-in hidden-xs" style="padding-right:5px;font-size:22px;position:relative;top:2px"></i>  JOIN MANUFACTURING SERVICE NETWORK (3D PRINTING, LASER CUTTING, …)
                                                        </a>
                                                    </div>

                                                    <div class="xs-center xs-margin-bottom-20" style="padding-left:10px; display:inline-block; margin-bottom:10px;width:450px">
                                                        <a class="simple f16" href="#">
                                                            <i class="icon ion-md-log-in hidden-xs" style="padding-right:5px;font-size:22px;position:relative;top:2px"></i> JOIN RESEARCH AND DEVELOPMENT NETWORK
                                                        </a>
                                                    </div>

                                                    <div class="xs-center xs-margin-bottom-20" style="padding-left:10px; display:inline-block; ">
                                                        <a class="simple f16" href="#">
                                                            <i class="icon ion-md-log-in hidden-xs" style="padding-right:5px;font-size:22px;position:relative;top:2px"></i> CREATE YOUR PERSONAL ACCOUNT
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                            <div style="clear:both"></div>

                                        </div>
                                    </div>
                                   

                        <div style="clear:both"></div>

                                 
                             
                       
                    </div>



                    <div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                    <div class="section section-page-footer">
                        <div class="section_wrapper clearfix">

                            <div class="column one page-pager">
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/views/footer.html'"></div>
</div>
