<div class="signup" style="display:none">
    <div ng-include="'app/views/header.html'" ng-init="type = 'signup';"></div>
    <div id="Content" style="margin-top:45px;">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">


                    <div class="section mcb-section  " style="padding-top:0px; padding-bottom:0px; background-color:rgba(0,112,192,1) !important;border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner ep-row2"  >
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner">
                                    <div style="text-align:center; color:white; " class="ep-hint">

                                        <!--“ Decentralized Manufacturing: Global Decentralized Network Directly Connecting Manufacturers, Designers, and Consumers “-->
                                        <div style="text-align:center;font-family:'Arial Narrow'!important;  ">
                                            <div style=" font-weight:bold" class="page-header-title ">3D-Chain</div>
                                            <div style="margin-top:8px" class="page-header-comment"><span>First Global </span><span style="font-weight:bold; ">Decentralized Network</span></div>
                                            <div style="margin-top:8px" class="page-header-comment"><span style="font-weight:bold;font-size:inherit !important">Directly</span><span style=" margin-left:3px; display:inline-block">Connecting</span> </div>
                                            <div style="margin-top:8px" class="page-header-comment">
                                                <span style="font-weight:bold;font-size:inherit !important">Manufacturers</span>,
                                                <span style="font-weight:bold;font-size:inherit !important">Designers</span>, <span>and</span> <span style="font-weight:bold;font-size:inherit !important">Consumers</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="section mcb-section  ep-section" style="padding-top:20px; padding-bottom:30px; background-color:white !important">



                        <div class="col-lg-5 col-sm-6 col-md-6 hidden-xs ilogo" style="height:571px;position:relative">
                            <div style="display:inline-block;color:rgba(208,208,208,1); font-size:62px;font-weight:bold;margin:519px 0 0 200px">3D-Chain</div>
                            <img src="../../content/imgs/signup1.png" style="position:relative;top:-490px;left:141px;width:250px"/>
                        </div>
                        <div class="col-lg-7 col-sm-6 col-md-6 type1" style="padding:0;">
                            <h2 class="title color-gray xs-font-24  hidden-xs" style="font-size:30px; margin-bottom:10px;  font-weight:bold">
                                Join Research and Development network
                            </h2>
                            <div class="signin-box2" style="background:rgba(230,230,230,1);padding:40px 40px 10px 40px">
                                <h2 class="title color-gray  hidden-lg hidden-md hidden-sm" style="font-size:19px !important; margin-bottom:10px;  font-weight:bold">
                                    Join Research and Development network
                                </h2>
                                <div style="max-width:680px;">

                                    <div style="max-width:600px;" class="dx-border">
                                        
                                            <div dx-text-box="txt_first_name" style="margin-bottom:5px;display:inline-block"  ></div>
                                        
                                            <div dx-text-box="txt_last_name" style="margin-bottom:5px;display:inline-block" ></div>
                                        
                                      
                                        <div dx-text-box="txt_email" style="margin-bottom:5px"></div>
                                        <div dx-text-box="txt_password" style="margin-bottom:5px;display:inline-block"></div>
                                        <div dx-text-box="txt_confirm_password" style="margin-bottom:5px;display:inline-block"></div>

                                        <div dx-text-box="txt_degree" style="margin-bottom:5px;display:inline-block"></div>

                                        <div dx-text-box="txt_company" style="margin-bottom:5px;display:inline-block"></div>

                                        <div dx-text-box="txt_position" style="margin-bottom:5px;display:inline-block"></div>

                                        <div dx-text-box="txt_website" style="margin-bottom:5px;display:inline-block"></div>

                                        <div dx-text-box="txt_linkedin" style="margin-bottom:5px;display:inline-block"></div>

                                        <div dx-text-box="txt_location" style="margin-bottom:5px;display:inline-block"></div>
                                    </div>
                                    <div class="dx-border">
                                        <!-- <div dx-tag-box="tag_group" style="margin-bottom:5px"></div>-->
                                        <div>
                                            <h2 style="border-bottom:1px solid gray;margin-bottom:5px;padding-bottom:5px;margin-top:7px">Group(s)</h2>
                                            <div dx-check-box="chk_grp1" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp2" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp3" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp4" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp5" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp6" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp7" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp8" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp9" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp10" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp11" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp12" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp13" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp14" style="margin-bottom:2px;"></div>
                                            <div dx-check-box="chk_grp15" style="margin-bottom:2px;"></div>
                                        </div>
                                        <div style="text-align:center">
                                            <div style="margin:10px 0 10px 0;font-size:16px">
                                                By clicking below you agree to our <a href="#">Terms of Service</a>
                                            </div>
                                            <div dx-button="btn_submit"></div>
                                            <div style="margin:10px 0 10px 0">
                                                Already have an account? Login Here

                                            </div>
                                        </div>


                                    </div>




                                </div>
                                <div style="clear:both"></div>

                            </div>
                        </div>


                        <div style="clear:both"></div>




                    </div>



                    <div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                    <div class="section section-page-footer">
                        <div class="section_wrapper clearfix">

                            <div class="column one page-pager">
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/views/footer.html'"></div>
</div>
