<div class="section mcb-section bgcolor-gray  lghow" style="padding-top:50px; padding-bottom:30px;   ">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one  valign-top clearfix" style="text-align:center">
            <div class="mcb-wrap-inner">
                <h2 class="title" style="font-size:25px;margin-bottom:10px">Stay Tuned with 3d-Chain</h2>
                <!-- <div class="inside" style="margin-bottom:20px">Subscribe to our newsletter to know about 3d-Chain!</div>-->
                <!--bani subs-->
                <input placeholder="Name" class="input" style="width:300px" ng-model="$root.subscribe_name"   />
                <div></div>
                <!--<input placeholder="Last Name" class="input" style="margin-top:5px;width:300px" />
                <div></div>-->
                <input placeholder="Email" class="input" style="margin-top:5px;width:300px;margin-bottom:10px" ng-model="$root.subscribe_email" />
                <div></div>
                <a ng-click="subscribe()" class="action_button bgcolor-p" target="_blank" style="display:inline-block;margin:5px auto 0 auto;float:none !important;border-radius:3px;width:170px;text-align:center;height:40px;line-height:15px;margin-top:4px;font-size:16px !important;color:white !important;padding:13px 0 13px 0">
                    SUBSCRIBE
                </a>

            </div>
        </div>
    </div>
</div>