
<div class="useragreement  bg-gray">
    <div ng-include="'app/views/header.html'"></div>
    <div id="Content" style="margin-top:70px;">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">

                    <div class="section mcb-section  " style="margin-top:0;margin-bottom:0; padding-top:0px; padding-bottom:0px; background-color:rgba(68,84,106,1) !important;border-top:0px solid rgba(60,56,55,1);border-bottom:0px solid rgba(60,56,55,1);">
                        <div class="section_wrapper mcb-section-inner ep-row2  no-box-shadow">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner">
                                    <div style="text-align:center; color:white; " class="ep-hint">

                                        <!--“ Decentralized Manufacturing: Global Decentralized Network Directly Connecting Manufacturers, Designers, and Consumers “-->
                                        <div style="text-align:center;font-family:'Arial Narrow'!important;  ">
                                            <div style=" font-weight:bold;padding:20px 0 20px 0" class="page-header-title ">
                                               User Agreement
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="section mcb-section" style="padding-top:40px; padding-bottom:40px; background-color:white !important; ">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner" style="height:300px">



                                </div>
                            </div>
                        </div>
                    </div>







                </div>





            </div>
        </div>
    </div>
    <div ng-include="'app/views/footer.html'"></div>
</div>


